.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* Social Section */
.social-section{
  padding: 24px 0;
}
.social-section svg{
  width:40px;
  height: 40px;
}
.social-section .columns  > div {
  gap:0;
  margin:0 auto;
  flex-wrap: wrap;

}
.social-section .columns  > div > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid #e1e1e1;
  font-size: 1.042vw;
  flex-basis: 20%;
}
.social-section .columns  > div > div:last-child{
  border-right: 0;
}
.social-section .columns-wrapper .columns > div {
  max-width: 1300px;
}
.social-section .columns  > div > div > p{
  margin: 4.808px 0 0;
  color: #000;
}
.social-section .columns  > div > div p:nth-child(2){
  font-family: GillSans-medium;
 
}
.social-section .columns  > div > div p:nth-child(3){
  color: #6e6e6e;
  font-size: 0.875em;
}

