.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

 @media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}  

/* Social Section */
.section.social-section {
  padding: 24px 0;
}
main > .section.social-section > div{
  max-width: 1300px;
  padding-inline: 0;
}
.social-section .columns > div > div > p .icon{
  display: inline;
}
.social-section .columns svg {
  width: 40px;
  height: 40px;
}

.social-section .columns > div {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  margin: 0 auto;
}

.social-section .columns > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid #e1e1e1;
  flex-basis: 20%;
  box-sizing: border-box;
}

.social-section .columns > div > div:last-child {
  border-right: 0;
}

.social-section .columns-wrapper .columns > div {
  width: 100%;
  max-width: 1300px;
}

.social-section .columns > div > div > p {
  margin: 4.808px 0 0;
  color: #000;
  line-height: 1.5;
}

.social-section .columns > div > div p:nth-child(2) {
  font-family: GillSans-medium;
  font-size: 1rem; 
}

.social-section .columns > div > div p:nth-child(3) {
  color: #6e6e6e;
  font-size: 0.7em; 
}

@media (max-width: 900px) {
  main > .section.social-section > div{
    max-width: 1300px;
    padding-inline: 0;
  }
  .social-section .columns > div {
    flex-direction: row;
  }
  .social-section .columns > div > div {
    flex-basis: 33.33%; 
    border-right: none;
    margin-bottom: 3.02725vw;
  }


  .social-section .columns > div > div:nth-child(3) {
    border-right: 0;
  }
  .social-section .columns > div > div p:nth-child(2) {
    font-size: 1.1rem;
  }
  .social-section .columns > div > div p:nth-child(3) {
    font-size: 1rem;
  }
  .social-section .columns > div > div:nth-child(5) {
    border-right: 0;
  }
}

@media (max-width: 768px) {
  
  .social-section .columns > div > div p:nth-child(2) {
    font-size: 1rem;
  }
  .social-section .columns > div > div p:nth-child(3) {
    font-size: 13px;
  }
}

.mg-motors-spec-accordion.section, .mg-motors-spec-accordiontitle.section {
    max-width: 855pt;
    margin: 0 auto !important;
}

.section.mg-motors-spec-accordiontitle.columns-container > div > div > div > div:nth-child(2) > p {
    text-align: right;
}

.mg-motors-spec-accordion.columns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mg-motors-spec-accordion .columns-wrapper {
    width: 50%;
    box-sizing: border-box;
    padding: 0 8px;
    margin-top: 0;
}

.mg-motors-spec-accordion .columns-wrapper .columns.block {
    border-radius: 10px;
    padding: 0;
    background: rgb(185, 225, 112);
    border: 1px solid rgb(185, 225, 112);
    color: rgb(0, 0, 0);
    position: relative;
    min-height: 675px;
    height: 100%;
}

.mg-motors-spec-accordion .columns-wrapper > .columns > div:nth-child(2) > div,
.mg-motors-spec-accordion .columns-wrapper > .columns > div:nth-child(3) > div,
.mg-motors-spec-accordion .columns-wrapper > .columns > div:nth-child(4) > div {
    text-align: center;
    max-width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100%;
    position: relative;
    left: -1px;
}

.mg-motors-spec-accordion .columns-wrapper > .columns > div > div > p:nth-child(2) {
    background-color: #fff;
    color: #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    font-size: 1.875vw;
    font-weight: 700;
}

.mg-motors-spec-accordion .columns-wrapper > .columns > div > div > p:nth-child(2)::before {
    content: "\25CF";
    font-size: 95%;
    position: absolute;
    right: -17%;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
}

.mg-motors-spec-accordion .columns-wrapper > .columns > div > div > p:nth-child(2)::after {
    content: " ";
    display: block;
    position: absolute;
    height: 2px;
    background: #fff;
    width: 15%;
    left: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.mg-motors-spec-accordion .columns-wrapper .columns picture {
    display: inline-block;
}

.mg-motors-spec-accordion .columns-wrapper .columns .columns-img-col {
    position: relative;
}

.mg-motors-spec-accordion .columns-wrapper .columns .columns-img-col picture {
    position: absolute;
    top: 52%;
    right: 0;
    transform: translate(47%, 2%);
    width: 56%;
}

/* calculator section */

.emi-calculator {
  margin-top: 40px !important;
}
.emi-calculator .columns {
  padding: 0 158px 0 92px;
  box-shadow: 0 5px 10px rgba(0,0,0,.0509804);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  position: relative;
}
.emi-calculator .columns:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 100%;
  background-color: #d1d1db;
  left: 0;
  top: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-image: url('../../icons/calculator.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.emi-calculator .columns > div { 
  position: relative;
  flex-wrap: wrap;
  gap: 0;
}

.emi-calculator .columns > div > div {
  width: 33.33%;
  flex: 0 0 auto;
  padding: 20px 12px;
}
.emi-calculator .columns > div > div p {
  font-size: 12px;
  line-height: 18px;
  color: #000;
  font-family: GillSans-regular;
  margin: 0;
  padding-bottom: 14px;
}
.emi-calculator .columns > div > div h4 {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: roboto-medium;
  margin: 0;
  position: relative;
  padding-bottom: 35px;
}
.emi-calculator .columns > div > div h3 {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  font-family: roboto-medium;
  margin: 0;
}
.emi-calculator .columns > div > div h4:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  border-bottom: 2px solid #919191;
}
.emi-calculator .columns > div > div h4:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 18px;
  height: 18px;
  background-color: #cf2230;
  border-radius: 20px;
  z-index: 9;
}
.emi-calculator .columns > div > div:first-child > p:last-child, .emi-calculator .columns > div > div:first-child > p:nth-last-child(2), .emi-calculator .columns > div > div:nth-child(2) > p:last-child, .emi-calculator .columns > div > div:nth-child(2) > p:nth-last-child(2), .emi-calculator .columns > div > div:nth-child(3) > p:last-child, .emi-calculator .columns > div > div:nth-child(3) > p:nth-last-child(2) {
  width: 50%;
  float: left;
  font-size: 12px;
  line-height: 18px;
  font-family: roboto;
  padding-bottom: 0;
}
.emi-calculator .columns > div > div > p:last-child {
  text-align: right;
}
.emi-calculator .columns > div > div:last-child {
  position: absolute;
  right: -158px;
  width: 158px;
  padding: 20px;
}
.emi-calculator .columns > div > div:nth-child(4), .emi-calculator .columns > div > div:nth-child(5), .emi-calculator .columns > div > div:nth-child(6) {
  background-color: #fafafa;
  position: relative;
}
.emi-calculator .columns > div > div:nth-child(4):before {
  content: '';
  position: absolute;
  width: 12px;
  height: 100%;
  left: -12px;
  top: 0;
  background-color: #fafafa;
}
.emi-calculator .columns > div > div:last-child p {
  font-size: 16px;
  line-height: 24px;
  font-family: GillSans-SemiBold;
  padding-bottom: 26px;
}
.emi-calculator .columns > div > div:last-child h3 {
  font-size: 24px;
  line-height: 36px;
  font-family: roboto-bold;
}
@media (max-width: 991px) {
  .emi-calculator {
    margin-top: 100px !important;
  }
  .emi-calculator .columns {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
  .emi-calculator .columns:before {
    width: 83px;
    height: 53px;
    top: -53px;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    background-size: 30%;
  }
  .emi-calculator .columns > div > div {
    width: 100%;
    padding: 20px 20px 5px 20px;
  }
  .emi-calculator .columns > div > div:first-child {
    padding-top: 40px;
  }
  .emi-calculator .columns > div > div:nth-child(3) {
    padding-bottom: 15px;
  }
  .emi-calculator .columns > div > div:nth-child(4) {
    padding-top: 40px;
  }
  .emi-calculator .columns > div > div:nth-child(6) {
    padding-bottom: 40px;
  }
  .emi-calculator .columns > div > div:nth-child(4)::before {
    content: none;
  }
  .emi-calculator .columns > div > div:last-child {
    padding: 35px 20px 15px;
    position: relative;
    right: 0;
    width: 100%;
  }
  .emi-calculator .columns > div > div:nth-child(4), .emi-calculator .columns > div > div:nth-child(5), .emi-calculator .columns > div > div:nth-child(6), .emi-calculator .columns > div > div:nth-child(7) {
    display: flex;
    justify-content: space-between;
  }
}



.main-image li {
  float: left;
  width: 25%;
  padding: 10px;
  list-style: none;
}

/* Style the images inside the grid */
.main-image li img {
  opacity: 0.8;
  cursor: pointer;
}

.main-image li img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.main-image{
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.main-image {
  position: relative;

}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
