.accordion details {
    border: 1px solid #dadada;
  }
  
  /* stylelint-disable-next-line no-descending-specificity */
  .accordion details + details {
    margin-top: 24px;
  }
  
  .accordion details p {
    margin-bottom: 0.8em;
  }
  
  .accordion details summary {
    position: relative;
    padding: 0 16px;
    padding-right: 46px;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    transition: background-color 0.2s;
  }
  
  .accordion details[open] summary {
    background-color: var(--light-color);
  }
  
  .accordion details summary:focus,
  .accordion details summary:hover {
    background-color: var(--light-color);
  }
  
  .accordion details summary::-webkit-details-marker {
    display: none;
  }
  
  .accordion details summary::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid;
    border-width: 2px 2px 0 0;
    transition: transform 0.2s;
  }
  
  .accordion details[open] summary::after {
    transform: translateY(-50%) rotate(-45deg);
  }
  
  .accordion details .accordion-item-body {
    padding: 0 16px;
  }
  
  .accordion details[open] .accordion-item-body {
    border-top: 1px solid #dadada;
    background-color: var(--background-color);
  }
 .faq-section {
     padding: 48px 0 8px 0;
    max-width: 1300px;
    padding-inline: 12px;
    margin: 0 auto;
 }
/*   main > .faq-section > div{
    max-width: 1300px;
    padding-inline: 12px;
    margin: 0 auto;
  } */
  .faq-section h2{
    font-family: GillSans-SemiBold;
    font-size: 2.08333vw;
    color: #cf2230;
    text-align: center;
    padding-bottom: 3.125vw;
    margin: 0;
  }

  .faq-section .accordion details{
   
    border:none;
    border-bottom: 2px solid #e1e1e1 !important;
    background-color: transparent;

  }
  .accordion details[open] summary:focus{
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, 0.25);
    background-color: transparent;
  }
  .faq-section .accordion details + details{
    margin-top:0;
  }
  .faq-section .accordion details summary{
    font-size: 1.25vw;

    padding: 1.5625vw 0;
  }
  .faq-section .accordion details summary p{
    margin:0;
    font-family: GillSans-SemiBold;
  }
  .faq-section .accordion details summary::after{
    width: 10px;
    height: 10px;
    border:2px solid #cf2230;
    border-width: 2.5px 2.5px 0 0;
  }
  .faq-section .accordion details summary:hover{
    background-color: transparent;
  }
  .faq-section .accordion details[open] summary:hover{
    background-color: transparent;
  }
  .faq-section .accordion details[open] .accordion-item-body{
    padding-top: 1.5625vw;
    padding-bottom: 1.5625vw;
    -webkit-box-shadow: inset 0 14px 10px -1pc #ccc, inset 0 -14px 10px -1pc #ccc;
    box-shadow: inset 0 14px 15px -1pc #ccc, inset 0 -14px 15px -1pc #ccc;
    padding-left: 0;
  }

  .faq-section .accordion details .accordion-item-body p{
    margin:0;
    font-size: 16px;
    border-left: 2.4px solid rgb(185, 225, 112);
    color: rgb(33, 37, 41);
    padding-inline: 20px;

  }

.mg-motors-spec-accordion .accordion-wrapper {
    width: 50%;
    box-sizing: border-box;
    padding: 0 8px;
    margin-top: 0;
}

.mg-motors-spec-accordion details.accordion-item {
    background-color: #f2f2f2 !important;
    color: #000 !important;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.mg-motors-spec-accordion details.accordion-item .accordion-item-label,
.mg-motors-spec-accordion details.accordion-item .accordion-item-body {
    background-color: transparent;
    padding: 10px 15px 10px 20%;
}

.mg-motors-spec-accordion .accordion-wrapper > .accordion > details > summary > p {
    line-height: 1.2;
}

.mg-motors-spec-accordion .accordion-wrapper > .accordion > details > summary > p:nth-child(2) {
    color: #6e6e6e;
    display: contents;
}

.mg-motors-spec-accordion .accordion details.accordion-item summary::after {
    width: 8px;
    height: 8px;
    font-size: 30px;
    line-height: 50%;
    color: #cf2230;
}
.faq-section  .accordion-wrapper{
    max-width: none;
  

}
@media (max-width: 900px) {
  main > .faq-section > div{
    max-width: 720px;
  
  }
  .faq-section h2{
    font-size: 28px;
  }
  .faq-section .accordion details summary p{
    font-size: 26px;
    line-height: 31px;
    padding-right: 40px;
  }
  .faq-section .accordion details .accordion-item-body p{
    font-size: 5vw;
  }
  .faq-section .accordion details[open] .accordion-item-body{
    padding-top: 5.55556vw;
    padding-bottom: 5.55556vw;
  }
    main > .faq-section > div{
        padding:0;
  }
  .faq-section .accordion details summary{
    padding: 26px 0;
  }
}
@media (min-width: 1900px) {
    main > .section.faq-section { 
        max-width: 1700px;
        margin: 0 auto;
    }
    main > .section.faq-section > div{
        padding: 0;
    }
}
