.section.full-width-container .full-width-wrapper{
    max-width: 100%;
    padding:0;
}
.full-width.full-image{
    height:100vh;
}

.full-width.full-image img {
    object-fit: cover;
    max-width: 100%;
    height: 100vh;
    width: 100%;
  } 
  .full-width-container .default-content-wrapper p{
    font-family: Roboto-Medium;
    text-align: right;
    font-size: 10.0px;
    line-height:15px;
    margin:0;

  }
  .section.full-width-container .default-content-wrapper {
    max-width: 100%;
    padding: 0;
  }
  .full-width.full-image img{display: block;}
  @media (max-width: 767.98px) {
    .full-width.full-image{
      background-image: url("../../files/full-width-img-mob.webp");
      background-repeat: no-repeat;
      background-position: left top;
      background-size: contain;
    }
    .full-width.full-image img{display: none;}
  }